<html>
    <head>
        <title>{% block tile %}{% endblock} | SellWhoop</title>
        
        <meta name = "viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
        <link rel = "stylesheet" href =""> //css link to be added
    </head>
    
    <body>
      <nav class ="navbar navbar-light bg-light justify-content-between">
        <a class ="navbar-brand">SellWhoop</a>
      </nav>
      
      <div class="container nt-3">
            {% block content %}{% endblock %}
      </div>
    
    </body>
</html>
